body {
  background-color: #fef9e7;
  font-family: 'Verdana', sans-serif;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #d35400;
  font-size: 48px;
}

p {
  color: #5d6d7e;
  font-size: 20px;
}
